@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply w-full px-4 py-2 bg-indigo-500 text-white font-bold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50;
  }

  .btn-delete {
    @apply px-4 py-2 bg-red-500 text-white font-bold rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 disabled:opacity-50;
  }
}

/* InfiniteProgressBar.css */
.infinite-progress-bar {
  width: 100%;
  height: 10px;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 100;
}

.bar {
  width: 100%;
  height: 100%;
  background-color: #3498db; /* Change the color as needed */
  animation: move 2s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
